* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page {
    width: 900px;
    height: 1200px;
    margin: 0 auto;
    background-color: #3c8de9;    /* Medium blue */
    border: 1px solid red;  /* Add this */
  }



  .section1 {
    float: left;
    height: 7%;
    width: 100%;
    padding: 1%;

  }
  .sectionOneColumn {
    float: left;
    width: 25%;
    height: 100%;
    padding: 0.006%;
    margin: 0%;
  }

  .menu {
    height: 100%;
    padding: 0.006%;
    background-color: #3c8de9;    /* Medium blue */
  }
  
  .menuItem {
    height: 45%;
    width: 90%;
    margin: 1%;
    padding: 0.6%;
    background-color: #bbd0e9;    /* Medium blue */
  }

  .menuBtn {
    float: right;
    width: 60px;
    height: 20px;
    border-radius: 40px;
    border:#eb4a4f;
    background-color: #f7a2db;    /* Medium blue */
  }

  .contactInfo {
    color: white;
  }

  .img1 {  
    float: right;
    width: 100%;  
    height: 120%;  
    }

  .img2 {  
    float: left;
    max-width: 100%;  
    height: 120%;  
    }

  .section2 {
      float: left;
      height:48%;
      width: 100%;
      padding: 1%;
      padding-right: 10%;
      overflow: auto;

    }

    .sidebar {
      float: left;
      width: 20%;
      height: 100%;
      background-color: #f7a2db;    /* Medium blue */
    }

    .displayArea {
      float: left;
      width: 80%;
      height: 100%;
      background-color: #faf9f9;    /* Medium blue */
    }

    .section3 {
      float: left;
      height: 40%;
      width: 100%;
      padding: 1%;
      background-color: #d8c261;    /* Medium blue */
    }

    .contentColumn1 {
      float: left;
      width:31%;
      height: 100%;
      margin: 1%;
      background-color: #beac57;    /* Medium blue */
    }

    .contentColumn2 {
      float: left;
      width:31%;
      height: 100%;
      margin: 1%;
      background-color: #beac57;    /* Medium blue */
    }

    .technicianFormHeader {
    text-align: center;

    }

    #customerFeedback {
      float: left;
      width: 100%;
      height: 100%;
      text-align: top;
      border-style: inset;
      background-color: aliceblue;
    }



    .contentColumn3 {
      float: left;
      width:31%;
      height: 100%;
      margin: 1%;
      background-color: #beac57;    /* Medium blue */
    }

    .contentRow1 {
      float: inline-start;
      height: 7%;
      width: 100%;
    }

    .contentRow2 {
      float: inline-start;
      height: 60%;
      width: 100%;
    }

    .inputHeader {
      float: left;
      width: 60%;
      color: rgb(26, 24, 24);
      background-color: #ecd75f;
    }

    .commentBtn {
      float: right;
      width: 60px;
      height: 20px;
      border-radius: 40px;
      border:#eb4a4f;
      background-color: #f7a2db;    /* Medium blue */
    }

    .inputBox {
      float: left;
      width: 100%;
      height: 100%;
      text-align: top;
      border-style: inset;
      background-color: aliceblue;
    }

    .contentRow3 {
      float: inline-start;
      height: 10%;
      width: 100%;
    }

    .section4 {
      float: left;
      height: 5%;
      width: 100%;
      padding: 1%;
      background-color: #3c8de9;    /* Medium blue */
    }